body {
   
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 15px;
    padding: 0;
}
.contenedor {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #000000;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

h4 {
    color: #666;
}

#numerosIntentados {
    list-style-type: none;
    padding: 0;
}

#numerosIntentados li {
    margin: 5px 0;
}